
.accueil{
    font-family: 'Courgette', sans-serif;
    background: linear-gradient(0deg, rgba( 0, 0 , 0, 0.7), rgba(0 , 0, 0, 0.7)), url('../img/header.jpg');
    background-size: cover;
    height: 50vh;
}

.navbar-brand{
    font-size: 25px;
}
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
nav{
    border-bottom: 2px solid white;
}
#logo{
    width: 40%;
    height: auto;
}
header{
    margin: 0
}
/* **************articles************ */
.jumbotron{
    background: none;
    color: white;
    margin: 0 auto;
}

.jumbotron h1{
    font-size: 50px;
}
#articles div{
    padding: 10px;
}
#articles h2{
    font-family: 'Oswald', sans-serif;
    padding-bottom: 20px;
} 
#articles h3{
    font-family: 'Courgette', sans-serif;
}
#articles img{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}
/* *********footer****** */
#footer{
    padding: 20px 0px;

}
#footer div{
    padding: 0 10px;
    background: black;
    color:white;
}

#footer h3{
    font-family: 'Courgette', sans-serif;
    padding: 10px;
}
#footer a{
    text-decoration: underline;
    color: white;
}
/* ************newsletter */

.form-inline{
    background: black;
}
.newsletter{
    font-family: 'Courgette', sans-serif;
    color: white;
}
.form-control{
    width: 100%;
}
.btn-dark{
    background: black;
    color: white;
    border: solid white;
}
/* **********reseaux */
/* *****revoir le centrages des icones ds la div */
.reseaux i{
    border: 2px solid white;
    width: 31px;
    height: 33px;
    color: black;
    background-color: white;
    font-size: 30px;
}

