.accueil{
    font-family: 'Courgette', sans-serif;
    background-image: url('../img/articles/suzette/suzette-header.jpg');
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -ms-background-size: cover;
   background-size: cover;
}

.navbar-brand{
    font-size: 25px;
}
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}

#logo{
    width: 40%;
    height: auto;
}
/* **********************header********** */
header{
    margin: 0
}
.jumbotron{
    background: rgba(13, 13, 14, 0.781);
    color: white;
    margin: 50px;
    padding: 0;
}

.jumbotron h1{
    font-size: 30px;
    padding: 10px;
}
/* ***************************posts********* */
#articles h2{
    font-family: 'Courgette', sans-serif;
    font-weight: bold;
}
#articles span{
    font-size: 70px;
    font-weight: bold;
    color: grey;
}














/* ***************************footer***************** */
#footer{
    padding: 25px 0;
}
#footer div{
    padding: 0 10px;
    background: black;
    color:white;
}

#footer h3{
    font-family: 'Courgette', sans-serif;
    padding: 10px;
}
#footer a{
    text-decoration: underline;
    color: white;
}
/* ************newsletter */

.form-inline{
    background: black;
}
.newsletter{
    font-family: 'Courgette', sans-serif;
    color: white;
}
.form-control{
    width: 100%;
}
.btn-dark{
    background: black;
    color: white;
    border: solid white;
}
/* **********reseaux */
/* *****revoir le centrages des icones ds la div */
.reseaux i{
    border: 2px solid white;
    width: 40px;
    height: 40px;
    color: black;
    background-color: white;
}

